<div class="reputon-google-reviews-widget" id="793b1350-276c-11ee-856a-0976e08810d7" ></div>
{% schema %}
{"name":"Carousel layout","presets":[{"name":"Carousel layout","category":"Reputon for Google Reviews"}]}
{% endschema %}